
<div *ngIf="post" class="container text-center my-5">
  <h1 id="title" class="text-center my-3 display-5">{{ post.title }}</h1>
  <div class="text-start">
    <p class="informations-post1">Article n° {{post.id}}</p>
    <p class="informations-post2">Publié le : {{post.publishedAt | formatDate}}</p>
  </div>

  <div class="container">
    <div class="row">
      <div [ngClass]="{'col-md-6': post.video, 'col-md-8 offset-md-2': !post.video}">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div *ngFor="let image of post.image; let i = index" class="carousel-item" [class.active]="i === 0">
              <img *ngIf="image" [src]="imageUrlBase + image" [alt]="post.title + ' - Image ' + (i + 1)" class="card-img-top img-fluid d-block w-100">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn-carousel" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon btn-carousel" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div *ngIf="post && post.video" class="col-md-6">
        <div class="video">
          <iframe class="iframeVideo" title="video YouTube" [src]="getSafeUrl(post.video)" frameborder="0" width="100%" height="350"  allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mt-5">
      <share-button button="facebook"></share-button>
      <share-button button="linkedin"></share-button>
      <share-button button="whatsapp"></share-button>
      <share-button button="email"></share-button>
      <share-button button="copy"></share-button>
    </div>
    <div class="col-md-7 mt-5">
      <!--bouton favori-->
      <div class="icon">
        <span *ngIf="isUserLoggedIn() && post.id !== undefined" (click)="toggleFavorite(post.id)" class="favorite-icon">
          <i class="fas fa-star" [ngClass]="{ 'favorited': isPostFavorited(post.id) }"></i>
        </span>
      </div>
    </div>
  </div>



  <div class="row">
      <p class="card-text mt-5" [innerHTML]="post.content"></p>
  </div>

</div>

<ng-container *ngIf="!post">
  <p class="text-center">Chargement du post...</p>
</ng-container>

