
.card-img-top {
  max-height: 350px; /* Ajustez cette valeur selon vos besoins */
  object-fit: contain; /* Ajuste l'image pour qu'elle soit entièrement visible */
  width: 100%; /* Assurez-vous que l'image s'étend sur toute la largeur du conteneur */
  height: auto; /* La hauteur s'ajuste pour maintenir l'aspect de l'image */
}

.btn-carousel {
  background-color: brown;
}

h1 {
  font-family: "League Spartan";
  font-weight: 700;
}

.informations-post1 {
  margin-bottom: 0px;
}

.informations-post1, .informations-post2 {
  font-size: 12px;
}

/* CSS */
.img {
  width: 10px;
  height: 10px;

}

@media (min-width: 820px) {
  .iframeVideo {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .video {
    padding-top: 50px;
  }
}
