.formBgColor {
  background-color: rgba(216, 189, 138, 0.2);
}

.buttonColor {
  background-color: #753742; /* Couleur de fond verte */
  color: white; /* Texte blanc pour un meilleur contraste */
  border: none; /* Optionnel: supprime la bordure du bouton */
}

.modalAgreeTerms {
  font-size: 12px;
}
