<footer class="footer-color text-white footer">
  <div class="">
      <div class="row">
        <div class="col-md-3 col-12 text-center text-md-start mt-3 justify-content-center order-dernier">
          <p class="mx-3 title-footer">Roots Shivasou</p>
            <a title="logo instagram" href="https://www.instagram.com/roots_shivasou/" class="instagram-icon mx-5">
              <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="col-md-3 col-12 text-center text-md-start mt-3 justify-content-center">
          <u>
            <p class="mx-3 mb-2 title-footer"> À propos de Roots Shivasou</p>
          </u>
            <a class="mx-3 nav-link" routerLink="/mentions-legales">Mentions légales</a>
            <a class="mx-3 nav-link" routerLink="/conditions-generales-utilisation">CGU</a>
            <a class="mx-3 nav-link" routerLink="/contact" routerLinkActive="active" >Contact</a>
            <a class="mx-3 nav-link" routerLink="/conditions-generales-application">CGA</a>
            <a class="mx-3 nav-link" routerLink="/about" routerLinkActive="active">Qui sommes-nous ?</a>
        </div>
        <div class="col-md-3 col-12 text-center text-md-start mt-3 justify-content-center">
          <u>
            <p class="mx-3 mb-2 title-footer"> Pages de notre site</p>
          </u>
            <a class="mx-3 nav-link" routerLink="/posts" routerLinkActive="active" >Articles</a>
            <a class="mx-3 nav-link" routerLink="/offres" routerLinkActive="active" >Offres et services</a>
            <a class="mx-3 nav-link" routerLink="/contentCreator" routerLinkActive="active" >Créatrice de contenus</a>
            <a class="mx-3 nav-link" routerLink="/artist" routerLinkActive="active" >Artiste capillaire</a>
        </div>
        <div class="col-md-3 col-12 text-center text-md-start mt-3 justify-content-center">
          <u>
            <p class="mx-3 mb-2 title-footer"> Prendre rendez-vous</p>
          </u>
            <a class="mx-3 nav-link" (click)="goToContentCreator('img-homepage')" routerLinkActive="active" >Reservez maintenant sur Booksy</a>
        </div>
        <div class="mt-5 mb-0">
          <hr class="">
        </div>
        <div class="d-flex justify-content-between">
          <p class="made">Copyright &#169; 2024 Roots Shivasou </p>
          <a href="https://zakaryya.pm">
            <p class="made">Made by <u>zakaryyapm</u></p>
          </a>
        </div>
      </div>
    </div>
</footer>

