.footer {
  min-height: 300px; /* Taille minimale du footer */
  padding: 10px 20px 0px 20px; /* Espace intérieur du footer */
}
.footer-color {
  background-color: #390001;
}

a, p {
  color: #D8BD8A;
}

.instagram-icon {
  font-size: 30px;
}

.title-footer {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 18px;

}

.copyright {
  padding-left: 20px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .order-dernier {
    order: -1; /* Change l'ordre de la colonne en dernier pour les écrans de smartphone */
  }

}

@media (min-width: 768px) {
  .footer {
    height: auto; /* Taille automatique pour les écrans de taille moyenne et plus grands */
  }

}


