<footer class="footer-color text-white">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-md-6 col-12 text-center text-md-start mt-3">
              <p class="mx-3">Roots Shivasou &#169; <a routerLink="/mentions-legales">Mentions légales</a></p>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end justify-content-center">
            <p class="mt-3">Suivez Roots Shivasou sur
              <a title="logo instagram" href="https://www.instagram.com/roots_shivasou/" class="instagram-icon mx-2">
                <i class="fa-brands fa-instagram"></i>
            </a>
            </p>

          </div>
      </div>
  </div>
</footer>
