
.nav {
  height: 20px;
}
a {
  color: #D8BD8A;
  font-family: "League Spartan";
  font-size: 20px;
}

#img-navbar
{
  height: 100px;
  width: auto;
}

.navbar-nav {
  padding-right: 100px;
}

hr {
  color: #D8BD8A;
}

@media (min-width: 1024px) {
  #img-navbar {
    padding-left: 100px;
  }
  .line {
    margin-top: -30px;
    padding-left: 300px;
    padding-right: 300px;
  }
}

