
.nav {
  height: 20px;
}
a {
  color: #D8BD8A;
  font-family: "League Spartan";
  font-size: 20px;
}

#img-navbar
{
  height: 100px;
  width: auto;
  padding-left: 100px;
}

.navbar-nav {
  padding-right: 100px;
}
