<h1 id="title" class="text-center my-3 display-5" >Mentions legals</h1>
<div class="container my-5">

 <p>
   Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique.
 </p>
   <h2>Edition du site</h2>
   <p>
     Le site Rootsshivasou est édité par "", immatriculée au "" sous le numéro "".
   </p>
   <h2>Responsable de publication</h2>
   <p>
     Responsable de publication Rootsshivasou
   </p>
   <h2>Nous contacter</h2>
   <p>
     Par email : ""
   </p>
   <h2>Hébergeur</h2>
   <p>
     Le site rootsshivasou est hébergé par la société "aws".
   </p>
   <p>
     Adresse: responsable de publication.
   </p>
   
</div>
