.formBgColor{
  background-color: rgba(245, 93, 22, 0.2);
}

.buttonColor {
  background-color: #B80407; /* Couleur de fond verte */
  color: white; /* Texte blanc pour un meilleur contraste */
  border: none; /* Optionnel: supprime la bordure du bouton */
}

#img-homepage {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .formBgColor {
    padding: 20px;
  }
}

@media (min-width: 1025px) {
  #img-homepage {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #img-homepage {
    display: none !important; /* Cache l'image en dessous de 480px */
  }
}

