* {
  margin: 0;
  padding: 0;
}

#img-homepage {
  max-width: 50%;
  height: auto;
  margin: 0px;
  padding: 0px;

}

.card-config {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 350px; /* Hauteur fixe pour la carte */
  justify-content: space-between; /* Organise le contenu de la carte */
}

.card-img-top {
  min-height: 150px;
  max-height: 200px; /* Ajustez cette valeur selon vos besoins */
  object-fit: cover; /* Cela permet de couvrir la zone sans déformer l'image */
  width: 100%;
}

.card-body {
  margin-top: auto;
  flex-grow: 1;
  background: rgb(184, 4, 7);
  background: linear-gradient(0deg, rgba(184, 4, 7, 0.8), rgba(245, 93, 22, 0.8) 35%, rgba(255, 195, 0, 0.7) 100%);
}

.card-title, .card-text {
  overflow: auto; /* Ajoute un défilement si le contenu dépasse */
}

.card-title {
  font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.card-text {
  font-size: 15px;
}

.btn {
  background-color: #B80407;
  width: 100px;
  color: white;
}

#title {
  color: #390001;
}


h1 {
  font-family: "League Spartan";
  font-weight: 700;
}

h2 {
  font-family: "Lato";
  font-weight: 400;
  color: #918A00;
}

.img-ban {
  width: 100vw; /* Largeur de la fenêtre visible */
  overflow-x: hidden; /* Empêche le défilement horizontal */
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container-presentation {
  margin-top: -50px; /* Ajustez cette valeur selon vos besoins */
  margin-bottom: -100px;
}

p, a {
  font-family: "Lato";
}

p {
  font-size: 20px;
}

.wave {
  position: relative; /* Change la position en relative */
  top: -150px; /* Déplace le SVG vers le haut */
}
.wave-ban {
  margin-top: -10px;

}

/* titre de la page*/
.block {
 display: block;
 margin-top: -30px;

}

/* taille moyenne uniquement*/
@media (min-width: 768px) and (max-width: 1024.98px) {
  .container-presentation {
    margin-bottom: 100px; /* Ajustez cette valeur selon vos besoins */
  }
  #container-article {
    margin-top: -100px;
  }
  .block {
    margin-top: -20px;
  }
}

/* smartphone*/
@media (max-width: 767px) {
  .container-presentation {
    margin-bottom: 10px;
  }

  .block {
    margin-top: -20px;
  }

  #container-article {
    margin-top: -100px;
  }

  #img-homepage {
    padding-bottom: 30px;
  }
  .container-presentation {
    margin-top: 5px;
  }

}

@media (min-width: 1024px) {
  .wave-ban {
    height: 300px;
  }
}
