body, html {
  height: 100%;
  margin: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto; /* Permet le défilement si nécessaire*/
  padding-bottom: 60px; /* Vous pouvez ajuster ceci en fonction de la hauteur de votre footer */
}

.title {
  font-family: "League Spartan";
  font-weight: 700;
  color: #918A00;;
}

.card-config {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 400px; /* Hauteur fixe pour la carte */
  justify-content: space-between; /* Organise le contenu de la carte */
}

.card-img-top {
  min-height: 150px;
  max-height: 200px; /* Ajustez cette valeur selon vos besoins */
  object-fit: cover; /* Cela permet de couvrir la zone sans déformer l'image */
  width: 100%;
}

.card-body {
  margin-top: auto;
  flex-grow: 1;
  background: rgb(184, 4, 7);
  background: linear-gradient(0deg, rgba(184, 4, 7, 0.8), rgba(245, 93, 22, 0.8) 35%, rgba(255, 195, 0, 0.7) 100%);
}


.card-title, .card-text {
  overflow: auto; /* Ajoute un défilement si le contenu dépasse */
}

.card-title {
  font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.card-text {
  font-size: 15px;
}

.btn {
  background-color: #B80407;
  border-color: #B80407 ;
  width: 100px;
  color: white;
}

p, a {
  font-family: "Lato";
}

.favorite-icon {
  cursor: pointer;
  margin-top: 50px;

}

.favorite-icon i {
  font-size: 1.5rem;
}

.favorited {
  color: gold; /* Change la couleur de l'icône lorsqu'elle est favorisée */
}

