<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-md-12">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-md-8 mb-2">
              <label for="title" class="form-label">Titre</label>
              <input type="text" formControlName="title" id="title" class="form-control">
            </div>
            <div class="col-md-4 mb-2">
              <label for="categoryId" class="form-label">Category</label>
              <select formControlName="categoryId" id="categoryId" class="form-control">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.title }}</option>
              </select>
            </div>
            <div class="col-md-4 mb-2">
              <label for="userId" class="form-label">User</label>
              <select formControlName="userId" id="userId" class="form-control">
                <option *ngFor="let user of users" [value]="user.id">{{ user.first_name }} {{ user.last_name }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="image" class="form-label">Image</label>
              <p>La taille d'une image ne doit pas dépasser 2mb. La taille d'une requête ne doit pas dépasser 10mb</p>
              <input type="file" formControlName="image" id="image" class="form-control" accept="image/*" multiple>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="video" class="form-label">Video</label>
              <input type="text" formControlName="video" id="video" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="content" class="form-label">Contenu</label>
              <editor
              apiKey="b4cqqba7tzmug4lm4bdbxifu62788m7ck24u40wz0hebxz5k"
               formControlName="content"
               id="content"
               [init]="editorConfig"
               >
              </editor>
            </div>
          </div>


          <button type="submit" class="btn btn-primary mb-5" [disabled]="!createForm.valid">Créer</button>
        </form>
      </div>
    </div>
  </div>
