img {
  max-height: 200px;
  width: auto;
}

.btn {
  background-color: #B80407;
  color: white;
}
h1,h2 {
  font-family: "League Spartan";
    font-weight: 700;
    color: #918A00;;
}
p {
  font-family: "Lato";
}

pdf-viewer {
  width: 100%;
  height: 515px;
}

.img-projets {
  max-height: 300px;
  width: auto;
}

.img-qrcode {
  max-height: 100px;
  width: auto;
}

.gif {
 height: 100%;
 width: auto;
}

@media (min-width: 820px) {
  .wave {
    margin-top: -100px;
  }
  .wave2 {
    margin-top: -100px;
  }
}

