img {
  max-height: 200px;
  width: auto;
}

.btn {
  background-color: #753742;
}

.img-projets {
  max-height: 300px;
  width: auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 */
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
