<h1 id="title" class="text-center col-md-6 my-3 my-5" >Digital Learning Expert</h1>

<div class="container my-5">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pe-md-3">
          <h2>Presentation</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, commodi numquam expedita iure facilis voluptatibus aliquam officia at, doloribus, enim consequuntur sint omnis ab repellat! Quae ut sunt dignissimos itaque?
          Suscipit culpa exercitationem magni laudantium molestiae laborum dolor? Ab eligendi praesentium voluptates possimus eum ipsa qui est atque. Natus non esse tempora necessitatibus doloribus. Maiores architecto inventore doloremque adipisci magni.
          </p>
        </div>
        <div class="col-md-6 text-center pe-md-3">
          <img src="assets/images/Diversity_of_plants_(Streptophyta)_version_2.png" alt="Image de creation de contenus">
        </div>
      </div>
    </div>

    <div class="container text-center my-5">
      <div class="row align-items-center d-flex justify-content-center">

          <div class="d-grid gap-2 col-md-3 mx-auto mt-2">
            <a class="btn w-100" (click)="goToContentCreator('digital-learning')">Qu'est-ce que le digital learning ?</a>
          </div>
          <div class="d-grid gap-2 col-md-3 mx-auto mt-2">
            <a class="btn w-100" (click)="goToContentCreator('projets')">Exemples de projets</a>
          </div>
          <div class="d-grid gap-2 col-md-3 mx-auto mt-2">
            <a class="btn w-100" (click)="goToContentCreator('formation')">Plateforme de formation</a>
          </div>
          <div class="d-grid gap-2 col-md-3 mx-auto mt-2">
            <button type="button" class="btn w100" routerLink="/contact">Prendre rendez-vous</button>
          </div>

      </div>
    </div>

  </div>
</div>

<div class="container" >
  <div class="row">
    <!-- Colonne pour le texte -->
    <div class="col-md-6">
      <h2 id="digital-learning">Digital Learning</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet! Voluptas,
        totam! Iste est velit minima itaque vero animi quas neque. Accusantium a corrupti sapiente voluptates,
        eos quis amet officiis. Ipsum repellendus recusandae odit cum quas veritatis eveniet porro, magnam molestiae
        sed incidunt minus. Voluptatum totam aliquid dolore deleniti quibusdam natus dolor illo corporis ullam,
        tenetur sequi voluptatibus accusantium officiis?
      </p>
    </div>
    <!-- Colonne pour l'image -->
    <div class="col-md-6 col-sm-12 mt-5">
      <pdf-viewer [src]="pdfSrc"
      [render-text]="true"
      [original-size]="false"
    ></pdf-viewer>
  </div>
  </div>
</div>

<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none">
  <path d="M0 80
  Q125 50 250 80
  Q375 110 500 80
  T625 80
  Q750 50 875 80
  Q1000 110 1125 80
  V150
  Q1000 120 875 150
  Q750 180 625 150
  T500 150
  Q375 120 250 150
  Q125 120 0 150
           Z" fill="#FFC300" />
</svg>

  <div class=" container mt-5" >
    <div class="row">
      <div class="text-center col-md-6">
        <h2 id="projets">Projets</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ipsum ad a saepe perferendis dicta nihil quaerat, suscipit ipsa excepturi expedita sapiente voluptatibus, consequatur dignissimos ut et delectus tempora. Modi.
        Illum vel, a, laudantium tempore natus eos recusandae rem nulla amet totam cum et doloribus necessitatibus temporibus officiis repellat incidunt repudiandae? Voluptatem culpa dolor temporibus modi nostrum sunt distinctio quo?</p>
        <img class="img-qrcode" src="assets/images/qrcode-liktree.png" alt="">
      </div>
      <div class="mt-5 col-md-6 text-center">
        <a href="https://linktr.ee/myjess97" title="image projet"><img class="img-projets img-fluid" src="assets/images/digital-project.png" alt="image projets"></a>
      </div>
    </div>
  </div>

  <svg class="wave2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none">
    <path d="M0 80
    Q125 50 250 80
    Q375 110 500 80
    T625 80
    Q750 50 875 80
    Q1000 110 1125 80
    V150
    Q1000 120 875 150
    Q750 180 625 150
    T500 150
    Q375 120 250 150
    Q125 120 0 150
             Z" fill="#F55D16" />
  </svg>

  <div class="container mt-5  justify-content-center">
    <div class="row">
      <div class="text-center">
        <h2 id="formation">Plateforme de formation</h2>
        <div class="col-md-6 offset-md-3">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facilis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facilis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, facilis?
          </p>
          <a routerLink="/contact">
          <img class="gif" src="assets/videos/prochainement-disponible.gif" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>



