.formBgColor {
  background-color: rgba(245, 93, 22, 0.2);
}

.buttonColor {
  background-color: #B80407; /* Couleur de fond verte */
  color: white; /* Texte blanc pour un meilleur contraste */
  border: none; /* Optionnel: supprime la bordure du bouton */
}
