<h1 id="title" class="text-center my-3 display-5" >A propos</h1>

<div class="container my-5">
  <div class="row">
    <div class="col-md-8 text-center mx-auto">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, dolorum? Voluptate velit aspernatur quia omnis, accusantium architecto debitis maxime dolorum exercitationem distinctio temporibus fugiat numquam quibusdam, excepturi ducimus quos doloremque.
        Repellendus at suscipit, reprehenderit modi voluptates alias magnam voluptatum illo, odit vel hic reiciendis libero a. Excepturi saepe unde deleniti, optio cum temporibus veniam impedit vero ipsum, eaque eveniet suscipit.
        Cumque voluptates eos possimus debitis cum tenetur explicabo nostrum molestiae nihil architecto similique mollitia est sint, id autem quibusdam esse suscipit quisquam beatae quasi. Similique neque suscipit obcaecati necessitatibus nobis!
        Provident ad recusandae possimus cum vero dicta enim maxime nemo? Illum voluptas necessitatibus similique esse laboriosam minus possimus exercitationem ex debitis animi minima explicabo qui eaque, iusto commodi excepturi aliquid!
      </p>

        <img id="img-homepage" src="assets/images/photo-pro-1.png" alt="" class="mx-auto">
        <img id="img-homepage" src="assets/images/photo-pro-3.png" alt="" class="mx-auto">
        <img id="img-homepage" src="assets/images/photo-pro-2.png" alt="" class="mx-auto">

    </div>
  </div>
</div>
