a {
  color: #ffff;
}

h1, h2 {
  font-family: "League Spartan";
  font-weight: 700;
  color: #918A00;;
}

p {
  font-family: "Lato";
  font-size: 15px;
}

#img-homepage {
  max-width: 50%;
  height: auto;

}

.mirrored {
  transform: scaleX(-1);
}

@media (min-width: 1024px) {
#text-artist {
  padding-top: 100px;
}
}

@media (min-width: 820px) {
  .wave {
    margin-top: -100px;
  }
}

@media (max-width: 819px) {
  .text-artist2 {
    padding-top: 50px;
  }
}
