<h1 id="title" class="text-center my-3 display-5" >Offre de services</h1>



<div class="container my-5">
  <div class="row">
    <div class="d-flex justify-content-center">
      <p class="text-center col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum animi pariatur quibusdam alias! Eveniet, eius incidunt minus ratione id a provident quasi assumenda, nobis, nihil dolorum suscipit doloremque impedit harum!
      Accusantium nihil quas veniam vel nesciunt molestias repellendus excepturi culpa amet neque odio praesentium quae sint deleniti voluptatibus temporibus, doloribus eligendi ducimus itaque deserunt eum! Odio nisi at corrupti voluptatum?
      Mollitia officia quia quaerat neque voluptate quidem debitis iusto necessitatibus et inventore suscipit, numquam doloribus perspiciatis voluptas obcaecati sint accusamus animi labore nemo maxime a corporis quis! Quisquam, perferendis nostrum!
      </p>
    </div>


    <div class="d-flex flex-column align-items-center d-sm-flex flex-sm-row justify-content-around my-5">

      <div class=" card mb-3">
        <div class="card-header text-center">Offres et services</div>
        <div class="card-body">
          <div class=" text-center mx-auto">
            <a type="button" routerLink="/changeManagement">Change management</a>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header text-center">Offres et services</div>
        <div class="card-body">
          <div class=" text-center mx-auto">
            <a type="button" routerLink="/contentCreator">Créatrice de contenus pédagogique</a>
          </div>
        </div>
      </div>
      <div class=" card  mb-3">
        <div class="card-header text-center">Offres et services</div>
        <div class="card-body">
          <div class=" text-center mx-auto">
            <a type="button" routerLink="/artist">Artiste capillaire</a>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
