<footer class="footer-color text-white">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-md-6 col-12 text-center text-md-start mt-3">
              <p>Roots Shivasou &#169; <a routerLink="/mentions-legales">Mentions légales</a></p>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end justify-content-center">
              <a title="logo instagram" href="https://www.instagram.com/roots_shivasou/" class="instagram-icon mx-3">
                  <i class="fa-brands fa-instagram"></i>
              </a>
          </div>
      </div>
  </div>
</footer>
