<h1 id="title" class="text-center my-5 display-5" >Artiste capillaire</h1>

<div class="container my-5">
  <div class="row">
    <!-- Colonne pour le texte -->
    <div class="col-md-6 my-5">
      <h2>Présentation</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, amet! Voluptas,
        totam! Iste est velit minima itaque vero animi quas neque. Accusantium a corrupti sapiente voluptates,
        eos quis amet officiis. Ipsum repellendus recusandae odit cum quas veritatis eveniet porro, magnam molestiae
        sed incidunt minus. Voluptatum totam aliquid dolore deleniti quibusdam natus dolor illo corporis ullam,
        tenetur sequi voluptatibus accusantium officiis?
      </p>
      <p>Comment prendre rendez-vous ?</p>
      <div>
        <a href="#">
          <img src="assets/images/Diversity_of_plants_(Streptophyta)_version_2.png" alt="image de artiste capillaire">
        </a>
      </div>
    </div>

    <!-- Colonne pour l'image -->
    <div class="col-md-6 text-center my-5">
      <img src="assets/images/Diversity_of_plants_(Streptophyta)_version_2.png" alt="image de artiste capillaire">
    </div>

    <hr>
  </div>
  <div class="row mt-5">
    <h2>Portfolio</h2>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/tree-g4f26e6d76_1280.jpg" class="card-img-top img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/logo.png" class="card-img-top img-fluid d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/Diversity_of_plants_(Streptophyta)_version_2.png" class="card-img-top img-fluid d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="mt-5 d-flex justify-content-between">
      <div >
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam voluptates cupiditate corrupti dolore quaerat consectetur architecto, explicabo quam, officia laudantium distinctio omnis non facere magni corporis ut quidem impedit?
        Error nihil excepturi dignissimos. Repellat architecto, laudantium eaque quas unde porro iste quos, nostrum dolorum facere harum, alias voluptate velit aperiam officia excepturi labore illum voluptates quidem enim praesentium reiciendis.
        </p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus aperiam voluptates cupiditate corrupti dolore quaerat consectetur architecto, explicabo quam, officia laudantium distinctio omnis non facere magni corporis ut quidem impedit?
          Error nihil excepturi dignissimos. Repellat architecto, laudantium eaque quas unde porro iste quos, nostrum dolorum facere harum, alias voluptate velit aperiam officia excepturi labore illum voluptates quidem enim praesentium reiciendis.
        </p>
      </div>
    </div>
  </div>
</div>
