.img-homepage {
  max-width: 100%;
  height: auto;
}

.card-config {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 400px; /* Hauteur fixe pour la carte */
  justify-content: space-between; /* Organise le contenu de la carte */
  border-radius: 50%; /* Ajoute des coins arrondis */
  overflow: hidden; /* Assure que le contenu reste à l'intérieur des bords arrondis */
}

.card-config:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  min-height: 150px;
  max-height: 200px; /* Ajustez cette valeur selon vos besoins */
  object-fit: cover; /* Cela permet de couvrir la zone sans déformer l'image */
  width: 100%;
  border-top-left-radius: 50%; /* Arrondit le coin supérieur gauche */
  border-top-right-radius: 50%; /* Arrondit le coin supérieur droit */
}

.card-body {
  margin-top: auto;
  flex-grow: 1;
  background: rgb(184, 4, 7);
  background: linear-gradient(0deg, rgba(184, 4, 7, 0.8), rgba(245, 93, 22, 0.8) 35%, rgba(255, 195, 0, 0.7) 100%);
  border-bottom-left-radius: 50%; /* Arrondit le coin inférieur gauche */
  border-bottom-right-radius: 50%; /* Arrondit le coin inférieur droit */
  overflow: hidden; /* Assure que le contenu reste à l'intérieur des bords arrondis */
}

.card-title, .card-text {
  overflow: auto; /* Ajoute un défilement si le contenu dépasse */
}

.card-title {
  font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.card-text {
  font-size: 15px;
}

.btn {
  background-color: #B80407;
  border-color: #B80407 ;
  width: 100px;
  color: white;
}

p, a {
  font-family: "Lato";
}

h1 {
  font-family: "League Spartan";
  font-weight: 700;
  color: #918A00;;
}

.favorite-icon {
  cursor: pointer;

}

.div-fav {
  margin-top: -20px;
}

.favorite-icon i {
  font-size: 1.5rem;
}

.favorited {
  color: gold; /* Change la couleur de l'icône lorsqu'elle est favorisée */
}


