<h1 id="title" class="text-center my-3 display-5" >Articles</h1>

<div class="container text-center my-5">
  <div *ngIf="posts.length > 0; else noPosts" class="row">
    <div class="card-group">
      <div *ngFor="let post of paginatedPosts" class="col-md-4 mb-3">
        <div class="card card-config">
          <img *ngIf="post.image" [src]="imageUrlBase + post.image[0]" alt="{{ post.title }}" class="card-img-top img-fluid">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text" [innerHTML]="post.content | truncate:150"></p>
            <a [routerLink]="['/showPost', post.id]" class="btn btn-primary">Lire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <p>Aucun post trouvé.</p>
  </ng-template>
  <app-pagination [currentPage]="currentPage" [totalPageCount]="totalPageCount" (pageChange)="onPageChange($event)" class="d-flex justify-content-center mt-5"></app-pagination>
</div>



