<h1 id="title" class="text-center my-5 display-5" >Change management</h1>

<div class="container my-5">
  <div class="d-flex justify-content-around">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2>Présentation</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque excepturi alias pariatur tempora quae ipsum sit possimus, quaerat nostrum reiciendis assumenda doloribus labore, ducimus totam magnam accusantium eaque natus consequatur.
        Similique soluta nihil accusantium pariatur magnam nam, sunt ex numquam aliquid molestiae. Quod provident, vel commodi minima blanditiis non itaque maiores reiciendis illo nemo ab cum, nobis ipsum possimus unde.
        <br>
        <br>
        Accusamus deleniti pariatur recusandae necessitatibus veritatis quia non distinctio rem. Maxime quam delectus voluptate rem rerum consequatur vel eos, suscipit distinctio exercitationem dolorem, ut illum atque error aut, quod nulla.
        orem ipsum dolor sit amet consectetur adipisicing elit. Neque excepturi alias pariatur tempora quae ipsum sit possimus, quaerat nostrum reiciendis assumenda doloribus labore, ducimus totam magnam accusantium eaque natus consequatur.
        Similique soluta nihil accusantium pariatur magnam nam, sunt ex numquam aliquid molestiae. Quod provident, vel commodi minima blanditiis non itaque maiores reiciendis illo nemo ab cum, nobis ipsum possimus unde.
        Accusamus deleniti pariatur recusandae necessitatibus veritatis quia non distinctio rem. Maxime quam delectus voluptate rem rerum consequatur vel eos, suscipit distinctio exercitationem dolorem, ut illum atque error aut, quod nulla.
      </p>
      <div class="my-5">
        <button type="button" routerLink="/contact" class="btn btn-dark">Prendre rendez-vous</button>
      </div>
      </div>

      <div class="col-md-6 ">
        <div class="d-flex justify-content-center">
          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/SqHrqKedtco?si=-_uI7s-p5Fax-Sbx" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
        <div class="mt-3 d-flex justify-content-center">
          <img src="assets/images/Diversity_of_plants_(Streptophyta)_version_2.png" alt="Image de change management">
        </div>
      </div>

    </div>
  </div>
</div>
